:host {
  display: block;
  width: 100%;
}

.container, .backdrop, textarea {
  width: 100%;
  height: 180px;
  position: relative;
}

.highlights, textarea {
  padding: 10px;
  letter-spacing: 1px;
}

.container {
  display: block;
}

.backdrop {
  position: absolute;
  right:0;
  left:0;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}
