:host {
  border: 1px solid black;
  margin: 40px auto 0;
  padding: 30px 20px;
  width: 650px;
  display: flex;
  flex-direction: column;
}

.input, .show {
  margin: 0 auto;
  width: 100%;
}

.show {
  margin-top: 30px;
}

