
<div class="input">
  <app-buttons [current]="currentUseButton$ | async" (onColorSelect)="selectColorToUse($event)"></app-buttons>
  <app-text-selector></app-text-selector>
</div>
<div class="show">
  <app-buttons [current]="currentShowButton$ | async" (onColorSelect)="selectColorToShow($event)"></app-buttons>
  <app-selection-viewer></app-selection-viewer>
</div>

