:host {
  display: block;
}

.button {
  width: 60px;
  height: 30px;
  opacity: .5;
  margin-right: 10px;
  margin-bottom: 6px;
  display: inline-block;
}

.current {
  opacity: 1;
  border: 3px solid rgba(36, 30, 36, 0.4);
}
