<div class="container">
  <div *ngFor="let button of buttons"
       class="button"
       [class.current]="isCurrent(button)"
       [style.background]="button"
       (click)="onClick(button)">
  </div>
</div>
