:host {
  border: 1px solid black;
  width: 100%;
  height: 200px;
  overflow: scroll;
  display: block;
  padding: 10px;
}

.highlight {
  display: block;
  padding: 0 10px;
  margin: 3px;
}

.button {
  margin-left: 5px;
  cursor: pointer;
}
